﻿
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<script src="Scripts/angular.js"></script>

	<script>

	</script>
	<script src="Scripts/app.js"></script>
	<script src="Scripts/mainCtrl.js"></script>
	<script src="Scripts/userAccountService.js"></script>
</head>
<body>
	<div ng-app="app" ng-controller="mainCtrl as vm">
		<h3> Test Values Controller</h3>

		<div>
			<span ng-show="vm.isRegistered">User Registered Successfully</span><br />
			<span ng-show="vm.isLoggedIn">Hello : {{vm.userName}}</span><br />
			<span ng-show="vm.isLoggedIn">Your Bearer Token is : {{vm.bearerToken}}</span>
		</div>
		<br />
		<div>
			<input type="text" name="userName" placeholder="Name" ng-model="vm.userData.userName" />
			<input type="text" name="userEmail" placeholder="Email" ng-model="vm.userData.userEmail" />
			<input name="password" placeholder="Password" ng-model="vm.userData.password" />
			<input name="confirmPassword" placeholder="Password" ng-model="vm.userData.confirmPassword" />
			<input type="button" id="registerUser" value="Register" ng-click="vm.registerUser()" />
			<input type="button" id="logniUser" value="Login" ng-click="vm.loginUser()" />
		</div>

		<button id="getValues" ng-click="vm.getValues()">Get Values</button>

		<ul>
			<li ng-repeat="v in vm.values">
				<div>
					<strong>{{v}}</strong>
				</div>
			</li>
		</ul>

	</div>
</body>
</html>
